# Maven build target
target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/
*.log
!hs_err_pid*.log
hs_err_pid*.log
.DS_Store

# VS Code
.vscode/

# Custom developer local scripts
run.ps1
**/application-local.properties
run.template.ps1